

main > .container {
  padding: 60px 15px 0;
}

body {
  background-color: rgba(0,0,0,.03);
}


.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

a {
  color: #4682B4;
}

a:active {
  color: #4682B4;
  text-decoration: none;
}

a:hover {
  color: #4682B4;
  text-decoration: none;
}

a:visited {
  color: #4682B4;
  text-decoration: none;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-footer {
  background-color: #fff;
}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>




